@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --btnPrimary: linear-gradient(rgb(96, 125, 239), rgb(43, 75, 203));
  --btnSecondary: linear-gradient(rgb(50, 58, 88), rgb(44, 48, 70));
  --btnWarning: linear-gradient(rgb(254, 188, 23), rgb(208, 84, 7));
  --btnDanger: linear-gradient(rgb(252, 41, 41), rgb(209, 8, 8));
  --btnSuccess: linear-gradient(rgb(54, 197, 254), rgb(7, 131, 208));
  --primary: rgba(82, 110, 221);
  --white: rgba(255, 255, 255);
  --white2: rgb(218, 218, 218);
  --grey: rgb(136, 136, 136);
  --dark0: rgb(16, 17, 22);
  --dark1: rgb(24, 27, 37);
  --dark2: rgb(31, 35, 48);
  --dark3: rgb(44, 48, 70);
  --dark4: rgb(50, 58, 88);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--dark0);
  }
}

/* button style */

.btn {
  cursor: pointer;
  font-weight: 400;
  border-radius: 8px;
  display: flex;
  gap: 6px;
  transition: all ease 0.2s;
  white-space: nowrap;
}

.btn:hover {
  filter: brightness(1.2);
}

/* button color */

.btn--pr {
  transition: ease-in-out 0.2s;
  background: var(--primary);
  border: none;
  font-weight: 600;
  white-space: nowrap;
}

.btn--sc {
  background: var(--dark4);
  transition: ease-in-out 0.2s;
  font-weight: 600;
  white-space: nowrap;
}

.btn--w {
  background: var(--btnWarning);
  font-weight: 600;
  transition: ease-in-out 0.2s;
  border: none;
  white-space: nowrap;
}

.btn--d {
  background: var(--btnDanger);
  transition: ease-in-out 0.2s;
  font-weight: 600;
  border: none;
  white-space: nowrap;
}

.btn--s {
  background: var(--btnSuccess);
  font-weight: 600;
  border: none;
  transition: ease-in-out 0.2s;
  white-space: nowrap;
}

.btn--pr:hover,
.btn--sc:hover,
.btn--w:hover,
.btn--d:hover,
.btn--s:hover {
  filter: brightness(1.2);
}

/* button size */

.btn--sm {
  font-size: 0.9rem;
  padding: 10px 22px;
  border-radius: 6px;
  width: fit-content;
}

.btn--sm--full {
  font-size: 0.9rem;
  padding: 10px 22px;
  width: 100%;
  border-radius: 4px;
}

.btn--md {
  font-size: 1rem;
  padding: 12px 28px;
  border-radius: 6px;
  width: fit-content;
}

.btn--md--full {
  font-size: 1rem;
  padding: 12px 28px;
  width: 100%;
  border-radius: 6px;
}

.btn--lg {
  font-size: 1.2rem;
  padding: 12px 30px;
  border-radius: 6px;
  width: fit-content;
}

.btn--lg--full {
  font-size: 1.4rem;
  width: 100%;
  padding: 12px 30px;
  border-radius: 6px;
}

.btn--xl {
  font-size: 1.8rem;
  padding: 12px 50px;
  border-radius: 8px;
  width: fit-content;
}

.btn--xl--full {
  font-size: 1.8rem;
  width: 100%;
  padding: 12px 50px;
  border-radius: 8px;
}

/* background for modal */
.bgModal {
  background: linear-gradient(rgb(31, 35, 48), rgb(24, 27, 37));
}

/* hiding scroll bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* storenav nav background */
.bgGradRight {
  background: linear-gradient(
    90deg,
    rgb(16, 17, 22, 0),
    rgb(16, 17, 22),
    rgb(16, 17, 22)
  );
}

/* background for banner */
.bgBanner {
  background: linear-gradient(rgb(31, 35, 48, 0), rgb(24, 27, 37, 0.5));
}

/* carousel slider */
.banner-card {
  display: none;
  animation: slideLeft 0.5s ease-in-out;
}

.banner-active {
  display: flex;
}

@keyframes slideRight {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}

/* carousel pagination */
.pagination {
  border-radius: 10px;
  position: relative;
}

.pagination-active,
.pagination:hover {
  background: var(--dark2);
}

.pagination-active .handle-status {
  background: var(--dark3);
  width: 100%;
  height: 100%;
  animation: fillRight 4s linear;
  border-radius: 10px;
}

.handle-status {
  position: absolute;
}

@keyframes fillRight {
  from {
    width: 60px;
  }
  to {
    width: 100%;
  }
}
